<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${system_title+'-个人中心'}"></title>

    <!-- Favicon -->
    <link rel="icon" href="/static/imgs/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/notiflix-1.3.0.min.css">
    <style>
        .card{
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
        }
        .p-b-50{
            padding-bottom: 50px;
        }
    </style>

</head>
<body>

<header th:replace="/student/layout/header::header"></header>
<!-- ##### Blog Area Start ##### -->
<section class="blog-area blog-page section-padding-50">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 p-b-50">
                <div class="row m-0" >
                    <!-- Single Catagories -->
                    <div class="col-6 col-xl-2 p-1">
                        <div class="card  bg-primary text-white">
                            <div class="card-body bg-img"  style="background-image: url(img/bg-img/bc1.jpg);">
                                <a href="#">
                                    <h6>考试</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-xl-2 p-1">
                        <div class="card">
                            <div class="card-body bg-img"  style="background-image: url(img/bg-img/bc1.jpg);">
                                <a href="#">
                                    <h6>模拟考试</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-xl-2 p-1">
                        <div class="card">
                            <div class="card-body bg-img"  style="background-image: url(img/bg-img/bc1.jpg);">
                                <a href="#">
                                    <h6>收藏</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-xl-2 p-1">
                        <div class="card">
                            <div class="card-body bg-img"  style="background-image: url(img/bg-img/bc1.jpg);">
                                <a href="#">
                                    <h6>错题本</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-xl-2 p-1">
                        <div class="card">
                            <div class="card-body bg-img"  style="background-image: url(img/bg-img/bc1.jpg);">
                                <a href="#">
                                    <h6>成绩单</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-xl-2 p-1">
                        <div class="card">
                            <div class="card-body bg-img"  style="background-image: url(img/bg-img/bc1.jpg);">
                                <a href="#">
                                    <h6>笔记</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Blog Area -->
            <div class="col-12 col-lg-6">
                <div class="single-blog-area mb-100 wow fadeInUp" data-wow-delay="250ms">
                    <img src="img/blog-img/1.jpg" alt="">
                    <!-- Blog Content -->
                    <div class="blog-content">
                        <a href="#" class="blog-headline">
                            <h4>English Grammer</h4>
                        </a>
                        <div class="meta d-flex align-items-center">
                            <a href="#">Sarah Parker</a>
                            <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                            <a href="#">Art &amp; Design</a>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim nulla, mollis eu metus in, sagittis</p>
                    </div>
                </div>
            </div>

            <!-- Single Blog Area -->
            <div class="col-12 col-lg-6">
                <div class="single-blog-area mb-100 wow fadeInUp" data-wow-delay="500ms">
                    <img src="img/blog-img/2.jpg" alt="">
                    <!-- Blog Content -->
                    <div class="blog-content">
                        <a href="#" class="blog-headline">
                            <h4>English Grammer</h4>
                        </a>
                        <div class="meta d-flex align-items-center">
                            <a href="#">Sarah Parker</a>
                            <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                            <a href="#">Art &amp; Design</a>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim nulla, mollis eu metus in, sagittis</p>
                    </div>
                </div>
            </div>

            <!-- Single Blog Area -->
            <div class="col-12 col-lg-6">
                <div class="single-blog-area mb-100 wow fadeInUp" data-wow-delay="250ms">
                    <img src="img/blog-img/3.jpg" alt="">
                    <!-- Blog Content -->
                    <div class="blog-content">
                        <a href="#" class="blog-headline">
                            <h4>English Grammer</h4>
                        </a>
                        <div class="meta d-flex align-items-center">
                            <a href="#">Sarah Parker</a>
                            <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                            <a href="#">Art &amp; Design</a>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim nulla, mollis eu metus in, sagittis</p>
                    </div>
                </div>
            </div>

            <!-- Single Blog Area -->
            <div class="col-12 col-lg-6">
                <div class="single-blog-area mb-100 wow fadeInUp" data-wow-delay="500ms">
                    <img src="img/blog-img/4.jpg" alt="">
                    <!-- Blog Content -->
                    <div class="blog-content">
                        <a href="#" class="blog-headline">
                            <h4>English Grammer</h4>
                        </a>
                        <div class="meta d-flex align-items-center">
                            <a href="#">Sarah Parker</a>
                            <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                            <a href="#">Art &amp; Design</a>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim nulla, mollis eu metus in, sagittis</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Blog Area End ##### -->
<footer th:replace="/student/layout/footer::footer"></footer>


<!-- ##### All Javascript Script ##### -->
<!-- jQuery-2.2.4 js -->
<script src="/static/js/jquery-1.11.0.min.js"></script>
<!-- Popper js -->
<script src="/static/js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="/static/js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="/static/js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="/static/js/active.js"></script>
<script src="/static/js/notiflix-1.3.0.min.js"></script>
<script src="/static/js/cookie.js"></script>
<script src="/static/js/jquery.md5.min.js"></script>
</body>
</html>